
*.pt
*.zip
*.csv
*.pyc
*.html
*.DS_Store
*.ipynb_checkpoints
*submit/

datasets/*

play/.ipynb_checkpoints/
play/.ipynb_checkpoints/Untitled-checkpoint.ipynb
play/.ipynb_checkpoints/gettingStartedNltkForNlp-checkpoint.ipynb

hw_1-text_classification_for_sentiment_analysis/.ipynb_checkpoints/converTsvToCsv-checkpoint.ipynb
hw_1-text_classification_for_sentiment_analysis/.ipynb_checkpoints/HW1-CSCI544-checkpoint.ipynb
hw_1-text_classification_for_sentiment_analysis/.ipynb_checkpoints/HW1-CSCI544-checkpoint.ipynb
